workflows/backup/wp-social-publisher-approval-flow_20260419h.json
{
  "name": "WP Social Publisher Approval Flow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 220]
    },
    {
      "parameters": {},
      "id": "manual-trigger-clear-dedupe-history",
      "name": "Manual Trigger (Clear Dedupe History)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 620]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger-hourly",
      "name": "Schedule Trigger (Daily 06:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 420]
    },
    {
      "parameters": {
        "url": "={{$env.WSPAF_WP_SITE_URL}}/wp-json/wp/v2/posts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "per_page", "value": "20" },
            { "name": "orderby", "value": "date" },
            { "name": "order", "value": "desc" },
            { "name": "status", "value": "publish" },
            { "name": "_embed", "value": "wp:featuredmedia" },
            { "name": "_fields", "value": "id,date,date_gmt,link,slug,title,excerpt,featured_media,_links,_embedded" }
          ]
        },
        "options": {}
      },
      "id": "fetch-wp-posts",
      "name": "Fetch WP Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 220]
    },
    {
      "parameters": {
        "jsCode": "const postCount = items.length;\nconsole.log(`[DEBUG] Fetch WP Posts returned ${postCount} posts`);\n\nitems.slice(0, 5).forEach((item, index) => {\n  const post = item.json ?? {};\n  console.log(\n    `[DEBUG] Post ${index + 1}: id=${post.id} slug=${post.slug} date_gmt=${post.date_gmt}`,\n  );\n});\n\nreturn items;"
      },
      "id": "debug-count-fetched-posts",
      "name": "Debug - Count fetched posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 60]
    },
    {
      "parameters": {
        "jsCode": "const LOOKBACK_MINUTES = 1500;\nconst now = new Date();\nconst cutoffMs = now.getTime() - LOOKBACK_MINUTES * 60 * 1000;\n\nreturn items\n  .filter((item) => {\n    const post = item.json ?? {};\n    const dateGmt = post.date_gmt;\n\n    if (!dateGmt) {\n      return false;\n    }\n\n    const publishedMs = Date.parse(`${dateGmt}Z`);\n    return Number.isFinite(publishedMs) && publishedMs > cutoffMs;\n  })\n  .map((item) => ({\n    json: {\n      ...(item.json ?? {}),\n      detectedAtUtc: now.toISOString(),\n    },\n  }));"
      },
      "id": "detect-new-posts",
      "name": "Detect New Posts (date_gmt)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 220]
    },
    {
      "parameters": {
        "content": "## Initial block\nThis workflow starts from `Manual Trigger` or `Schedule Trigger (Hourly)`, both connected directly to `Fetch WP Posts`.\n\n`Fetch WP Posts` reads the WordPress base URL from `$env.WSPAF_WP_SITE_URL` and queries the latest published posts.\n\nRuntime environment values must be defined on the remote n8n server/container:\n- `WSPAF_WP_SITE_URL`\n- `WSPAF_APPROVAL_EMAIL`\n- `WSPAF_APPROVAL_NAME`\n- `WSPAF_SENDER_EMAIL`\n\nSecrets and third-party authentication must stay in n8n Credentials.",
        "height": 320,
        "width": 520,
        "color": 7
      },
      "id": "note-initial-block",
      "name": "Initial Block Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, -120]
    },
    {
      "parameters": {
        "content": "## AI message block\n`Generate AI Message (max 280, #n8n)` crea il testo social a partire da titolo, estratto e URL del post.\n\n`Validate AI Message` controlla il risultato finale: massimo 280 caratteri, hashtag `#n8n` presente e URL mantenuto nel messaggio.\n\n`Debug - AI message` serve solo per leggere nei log il testo finale generato.",
        "height": 260,
        "width": 440,
        "color": 5
      },
      "id": "note-ai-message-block",
      "name": "AI Message Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1740, -120]
    },
    {
      "parameters": {
        "content": "## Approval decision\n`Approved?` legge direttamente il valore restituito dal nodo `Approval Gate (Email)` nel campo `$json.data.approved`.\n\n- `true` -> il flusso prosegue verso la pubblicazione\n- `false` oppure timeout -> il flusso va su `Skip - Not Approved`",
        "height": 220,
        "width": 420,
        "color": 6
      },
      "id": "note-approved-branch",
      "name": "Approved Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2820, -140]
    },
    {
      "parameters": {
        "content": "## Has Image? (Twitter)\nQuesto nodo controlla `hasFeaturedImage` leggendo i dati del post dal nodo `Validate AI Message`.\n\nDopo `sendAndWait`, `$json` contiene solo la risposta dell'approvazione email, quindi qui non si puo' leggere l'immagine dal payload corrente.\n\n- `true` -> scarica il file e lo carica su X\n- `false` -> pubblica direttamente il tweet senza immagine",
        "height": 280,
        "width": 470,
        "color": 4
      },
      "id": "note-has-image-twitter",
      "name": "Has Image Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3220, -180]
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.id }}",
        "options": {
          "scope": "workflow",
          "historySize": 10000
        }
      },
      "id": "deduplicate-posts",
      "name": "Deduplicate via Data Store",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [1280, 220]
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "mode": "cleanDatabase",
        "options": {
          "scope": "workflow"
        }
      },
      "id": "clear-dedupe-history",
      "name": "Clear Dedupe History",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [500, 620]
    },
    {
      "parameters": {
        "jsCode": "console.log('[DEBUG] Deduplication history cleared for workflow scope.');\n\nreturn [{\n  json: {\n    maintenanceAction: 'clearDeduplicationHistory',\n    scope: 'workflow',\n    clearedAtUtc: new Date().toISOString(),\n  },\n}];"
      },
      "id": "debug-clear-dedupe-history",
      "name": "Debug - Clear dedupe history",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 620]
    },
    {
      "parameters": {
        "jsCode": "const detectedItems = $('Detect New Posts (date_gmt)').all();\nconst detectedIds = detectedItems\n  .map((item) => item.json?.id)\n  .filter((value) => value !== undefined && value !== null);\nconst keptIds = items\n  .map((item) => item.json?.id)\n  .filter((value) => value !== undefined && value !== null);\nconst keptSet = new Set(keptIds);\nconst duplicateIds = detectedIds.filter((id) => !keptSet.has(id));\n\nconsole.log(\n  `[DEBUG] Deduplicate summary: detected=${detectedIds.length}, kept=${keptIds.length}, duplicates=${duplicateIds.length}`,\n);\n\nif (keptIds.length > 0) {\n  console.log(`[DEBUG] New post IDs after dedupe: ${keptIds.join(', ')}`);\n}\n\nif (duplicateIds.length > 0) {\n  console.log(`[DEBUG] Duplicate post IDs skipped: ${duplicateIds.join(', ')}`);\n}\n\nreturn items;"
      },
      "id": "debug-deduplicate-summary",
      "name": "Debug - Deduplicate summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 60]
    },
    {
      "parameters": {
        "jsCode": "const TAG_RE = /<[^>]*>/g;\nconst WHITESPACE_RE = /\\s+/g;\nconst ENTITY_MAP = {\n  '&amp;': '&',\n  '&lt;': '<',\n  '&gt;': '>',\n  '&quot;': '\"',\n  '&#039;': \"'\",\n  '&nbsp;': ' ',\n};\n\nfunction decodeEntities(value) {\n  return value\n    .replace(/&(amp|lt|gt|quot|#039|nbsp);/g, (entity) => ENTITY_MAP[entity] ?? entity)\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code, 10)));\n}\n\nfunction stripHtml(value) {\n  if (typeof value !== 'string' || !value) {\n    return '';\n  }\n\n  const text = decodeEntities(value.replace(TAG_RE, ' '));\n  return text.replace(WHITESPACE_RE, ' ').trim();\n}\n\nreturn items.map((item) => {\n  const post = item.json ?? {};\n  const embedded = post._embedded ?? {};\n  const mediaItems = Array.isArray(embedded['wp:featuredmedia']) ? embedded['wp:featuredmedia'] : [];\n  const featuredMedia = mediaItems[0] ?? {};\n  const titleRaw = post.title;\n  const excerptRaw = post.excerpt;\n  const title = stripHtml(typeof titleRaw === 'object' ? titleRaw?.rendered : titleRaw);\n  const excerpt = stripHtml(typeof excerptRaw === 'object' ? excerptRaw?.rendered : excerptRaw);\n  const imageUrl = typeof featuredMedia === 'object' ? featuredMedia.source_url ?? null : null;\n\n  return {\n    json: {\n      ...post,\n      titleText: title,\n      excerptText: excerpt,\n      topic: title,\n      content: excerpt,\n      postUrl: post.link,\n      imageUrl,\n      hasFeaturedImage: Boolean(imageUrl),\n    },\n  };\n});"
      },
      "id": "extract-post-payload",
      "name": "Extract URL and Featured Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 220]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4o mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "user",
              "content": "={{ 'Title: ' + $json.titleText + '\\nExcerpt: ' + $json.excerptText + '\\nURL: ' + $json.postUrl }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "instructions": "You are a social media copywriter.\n\nWrite a single post to announce a new blog article.\n\nStrict rules:\n- Maximum 280 characters total (URL and hashtag included)\n- Must include hashtag #n8n exactly once\n- End with the post URL\n- Write in the same language as the post title\n- Output ONLY the final message text, no explanations, no quotes, no line breaks",
          "temperature": 0.7
        }
      },
      "id": "generate-ai-message",
      "name": "Generate AI Message (max 280, #n8n)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1800, 220],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function enforceConstraints(raw) {\n  const URL_RE = /https?:\\/\\/\\S+/g;\n  let message = raw.trim();\n\n  const urls = message.match(URL_RE) || [];\n  const postUrl = urls[urls.length - 1] || '';\n\n  if (!message.includes('#n8n')) {\n    if (postUrl && message.endsWith(postUrl)) {\n      const body = message.slice(0, message.lastIndexOf(postUrl)).trimEnd();\n      message = body + ' #n8n ' + postUrl;\n    } else {\n      message = message.trimEnd() + ' #n8n';\n      if (postUrl) {\n        message += ' ' + postUrl;\n      }\n    }\n  }\n\n  if (message.length > 280) {\n    let body = message;\n    if (postUrl) {\n      body = body.replace(' ' + postUrl, '').replace(postUrl, '');\n    }\n    body = body.replace(/ #n8n/g, '').replace(/#n8n /g, '').replace(/#n8n/g, '').trim();\n    const tail = postUrl ? ' #n8n ' + postUrl : ' #n8n';\n    const maxBody = 280 - tail.length;\n    message = body.slice(0, maxBody).trimEnd() + tail;\n  }\n\n  return message;\n}\n\nreturn items.map((item) => {\n  const aiOutput = item.json ?? {};\n  const sourcePost = $('Extract URL and Featured Image').item.json ?? {};\n\n  let raw = '';\n  if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    raw = aiOutput.output[0].content[0].text;\n  } else if (typeof aiOutput.message === 'string') {\n    raw = aiOutput.message;\n  } else if (typeof aiOutput.message?.content === 'string') {\n    raw = aiOutput.message.content;\n  } else if (aiOutput.choices?.[0]?.message?.content) {\n    raw = aiOutput.choices[0].message.content;\n  }\n\n  const socialMessage = enforceConstraints(raw);\n  const socialMessageValid = socialMessage.length <= 280 && socialMessage.includes('#n8n');\n\n  console.log(`[DEBUG] Validate AI message: length=${socialMessage.length}, valid=${socialMessageValid}`);\n  if (!socialMessageValid) {\n    console.warn(`[WARN] AI message constraint violation: \"${socialMessage}\"`);\n  }\n\n  return {\n    json: {\n      ...sourcePost,\n      ...aiOutput,\n      socialMessage,\n      socialMessageLength: socialMessage.length,\n      socialMessageValid,\n    },\n  };\n});"
      },
      "id": "validate-ai-message",
      "name": "Validate AI Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 220]
    },
    {
      "parameters": {
        "jsCode": "items.forEach((item, index) => {\n  const post = item.json ?? {};\n  console.log(\n    `[DEBUG] AI message [${index + 1}/${items.length}] post_id=${post.id} valid=${post.socialMessageValid} length=${post.socialMessageLength}`,\n  );\n  console.log(`[DEBUG] socialMessage: ${post.socialMessage}`);\n});\n\nreturn items;"
      },
      "id": "debug-ai-message",
      "name": "Debug - AI message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 220]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "={{ $env.WSPAF_SENDER_EMAIL }}",
        "toEmail": "={{ $env.WSPAF_APPROVAL_EMAIL }}",
        "subject": "={{ 'Approvazione Twitter/X: ' + $json.titleText }}",
        "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"></head><body><p>Ciao <strong>{{ $env.WSPAF_APPROVAL_NAME }}</strong>,</p><p>&Egrave; stato rilevato un nuovo articolo WordPress pronto per la pubblicazione su <strong>Twitter/X</strong>.</p><hr><p><strong>Titolo:</strong> {{ $json.titleText }}</p><p><strong>URL articolo:</strong> <a href=\"{{ $json.postUrl }}\">{{ $json.postUrl }}</a></p>{{ $json.hasFeaturedImage ? '<p><strong>Immagine:</strong> <a href=\"' + $json.imageUrl + '\">Visualizza immagine</a></p>' : '<p><em>Nessuna immagine in evidenza.</em></p>' }}<hr><p><strong>Messaggio social generato ({{ $json.socialMessageLength }} caratteri):</strong></p><blockquote style=\"background:#f5f5f5;padding:12px;border-left:4px solid #ccc;\">{{ $json.socialMessage }}</blockquote><hr><p>Usa i pulsanti in basso per approvare o rifiutare la pubblicazione.<br>Se non viene data risposta entro 24 ore, la pubblicazione verr&agrave; automaticamente annullata.</p></body></html>",
        "responseType": "approval",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Pubblica",
            "buttonApprovalStyle": "primary",
            "disapproveLabel": "Non pubblicare",
            "buttonDisapprovalStyle": "secondary"
          }
        },
        "options": {
          "appendAttribution": false,
          "limitWaitTime": {
            "values": {
              "limitType": "afterTimeInterval",
              "resumeAmount": 24,
              "resumeUnit": "hours"
            }
          }
        }
      },
      "id": "approval-gate-email",
      "name": "Approval Gate (Email)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2580, 220],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-approval",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2840, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "leftValue": "={{ $('Validate AI Message').item.json.hasFeaturedImage }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "true" }
          }],
          "combinator": "and"
        }
      },
      "id": "has-image-twitter",
      "name": "Has Image? (Twitter)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3100, 120]
    },
    {
      "parameters": {
        "url": "={{ $('Validate AI Message').item.json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "fetch-image-binary",
      "name": "Fetch Image Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 20]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [{
            "parameterType": "formBinaryData",
            "name": "media",
            "inputDataFieldName": "data"
          }]
        },
        "options": {}
      },
      "id": "upload-media-twitter",
      "name": "Upload Media to Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3620, 20],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{ $('Validate AI Message').item.json.socialMessage }}",
        "additionalFields": {
          "attachments": "={{ $json.media_id_string }}"
        }
      },
      "id": "post-tweet-with-image",
      "name": "Post Tweet with Image",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [3880, 20],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "",
          "name": "X OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{ $('Validate AI Message').item.json.socialMessage }}",
        "additionalFields": {}
      },
      "id": "post-tweet",
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [3360, 220],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "",
          "name": "X OAuth2 account"
        }
      }
    },
    {
      "parameters": {},
      "id": "skip-not-approved",
      "name": "Skip - Not Approved",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3100, 320]
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{ $env.WSPAF_SENDER_EMAIL }}",
        "toEmail": "={{ $env.WSPAF_APPROVAL_EMAIL }}",
        "subject": "={{ 'X pubblicato con immagine | Post #' + $('Validate AI Message').item.json.id + ' | ' + $('Validate AI Message').item.json.titleText }}",
        "emailFormat": "html",
        "html": "=<p>Il post &egrave; stato approvato e pubblicato su X con immagine.</p><p><strong>Titolo:</strong> {{ $('Validate AI Message').item.json.titleText }}</p><p><strong>URL articolo:</strong> <a href=\"{{ $('Validate AI Message').item.json.postUrl }}\">{{ $('Validate AI Message').item.json.postUrl }}</a></p><p><strong>Messaggio pubblicato:</strong> {{ $('Validate AI Message').item.json.socialMessage }}</p>",
        "options": {}
      },
      "id": "notify-published-with-image",
      "name": "Notify - Published with Image",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [4140, 20],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{ $env.WSPAF_SENDER_EMAIL }}",
        "toEmail": "={{ $env.WSPAF_APPROVAL_EMAIL }}",
        "subject": "={{ 'X pubblicato senza immagine | Post #' + $('Validate AI Message').item.json.id + ' | ' + $('Validate AI Message').item.json.titleText }}",
        "emailFormat": "html",
        "html": "=<p>Il post &egrave; stato approvato e pubblicato su X (senza immagine).</p><p><strong>Titolo:</strong> {{ $('Validate AI Message').item.json.titleText }}</p><p><strong>URL articolo:</strong> <a href=\"{{ $('Validate AI Message').item.json.postUrl }}\">{{ $('Validate AI Message').item.json.postUrl }}</a></p><p><strong>Messaggio pubblicato:</strong> {{ $('Validate AI Message').item.json.socialMessage }}</p>",
        "options": {}
      },
      "id": "notify-published-no-image",
      "name": "Notify - Published without Image",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [3620, 220],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{ $env.WSPAF_SENDER_EMAIL }}",
        "toEmail": "={{ $env.WSPAF_APPROVAL_EMAIL }}",
        "subject": "={{ 'X non pubblicato | Post #' + $('Validate AI Message').item.json.id + ' | ' + $('Validate AI Message').item.json.titleText }}",
        "emailFormat": "html",
        "html": "=<p>Il post non &egrave; stato pubblicato su X: approvazione rifiutata o scaduta (24h).</p><p><strong>Titolo:</strong> {{ $('Validate AI Message').item.json.titleText }}</p><p><strong>URL articolo:</strong> <a href=\"{{ $('Validate AI Message').item.json.postUrl }}\">{{ $('Validate AI Message').item.json.postUrl }}</a></p>",
        "options": {}
      },
      "id": "notify-not-approved",
      "name": "Notify - Not Approved",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [3360, 320],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Fetch WP Posts", "type": "main", "index": 0 }]]
    },
    "Manual Trigger (Clear Dedupe History)": {
      "main": [[{ "node": "Clear Dedupe History", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger (Daily 06:00)": {
      "main": [[{ "node": "Fetch WP Posts", "type": "main", "index": 0 }]]
    },
    "Fetch WP Posts": {
      "main": [[{ "node": "Debug - Count fetched posts", "type": "main", "index": 0 }]]
    },
    "Debug - Count fetched posts": {
      "main": [[{ "node": "Detect New Posts (date_gmt)", "type": "main", "index": 0 }]]
    },
    "Detect New Posts (date_gmt)": {
      "main": [[{ "node": "Deduplicate via Data Store", "type": "main", "index": 0 }]]
    },
    "Deduplicate via Data Store": {
      "main": [[{ "node": "Debug - Deduplicate summary", "type": "main", "index": 0 }]]
    },
    "Debug - Deduplicate summary": {
      "main": [[{ "node": "Extract URL and Featured Image", "type": "main", "index": 0 }]]
    },
    "Clear Dedupe History": {
      "main": [[{ "node": "Debug - Clear dedupe history", "type": "main", "index": 0 }]]
    },
    "Extract URL and Featured Image": {
      "main": [[{ "node": "Generate AI Message (max 280, #n8n)", "type": "main", "index": 0 }]]
    },
    "Generate AI Message (max 280, #n8n)": {
      "main": [[{ "node": "Validate AI Message", "type": "main", "index": 0 }]]
    },
    "Validate AI Message": {
      "main": [[{ "node": "Debug - AI message", "type": "main", "index": 0 }]]
    },
    "Debug - AI message": {
      "main": [[{ "node": "Approval Gate (Email)", "type": "main", "index": 0 }]]
    },
    "Approval Gate (Email)": {
      "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]]
    },
    "Approved?": {
      "main": [
        [{ "node": "Has Image? (Twitter)", "type": "main", "index": 0 }],
        [{ "node": "Skip - Not Approved", "type": "main", "index": 0 }]
      ]
    },
    "Has Image? (Twitter)": {
      "main": [
        [{ "node": "Fetch Image Binary", "type": "main", "index": 0 }],
        [{ "node": "Post Tweet", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Image Binary": {
      "main": [[{ "node": "Upload Media to Twitter", "type": "main", "index": 0 }]]
    },
    "Upload Media to Twitter": {
      "main": [[{ "node": "Post Tweet with Image", "type": "main", "index": 0 }]]
    },
    "Post Tweet with Image": {
      "main": [[{ "node": "Notify - Published with Image", "type": "main", "index": 0 }]]
    },
    "Post Tweet": {
      "main": [[{ "node": "Notify - Published without Image", "type": "main", "index": 0 }]]
    },
    "Skip - Not Approved": {
      "main": [[{ "node": "Notify - Not Approved", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
